html, body {
    background: none repeat scroll 0 0 #FAF8EF;
    color: #776E65;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}